.content {
  font-size: 18px;
  margin: auto;
  padding: 30px;
}

i {
  font-size: 14px;
}

#title {
  text-align: center;
}

#map {
  height: 80vh;
}

#search-box {
  margin: 20px;
}

#trends-list li {
  font-family: "Lucida Console", Courier, monospace;
}

#trends-list li:hover {
  cursor: pointer;
  color: #2268d6;
}

#show-more-or-less {
  color: #308ECA;
  list-style-type: none;
}

#show-more-or-less:hover {
  color: #3aa7d6;
  cursor: pointer;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

#legend {
  background: #fff;
  border: 3px solid #000;
  display: flex;
  display: -webkit-box;
  height: 45px;
  margin: 10px;
  padding: 10px;
  width: 360px;
}

.color-key {
  background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
  flex: 1;
  font: 1.0em/1.0em;
  margin: 0 5px;
  text-align: left;
  -webkit-box-flex: 1;
}

/* The switch - the box around the slider. */
.switch {
  display: inline-block;
  height: 40px;
  margin-top: 20px;
  position: relative;
  width: 100px;
}

.slider {
  background-color: #2196F3;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 32px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 46px;
  -webkit-transition: .4s;
}

input:checked + .slider:before {
  transform: translateX(46px);
  -ms-transform: translateX(46px);
  -webkit-transform: translateX(46px);
}