body {
  margin: auto;
}

#title {
  margin: 30px;
  text-align: center;
}

#map {
  height: 80vh;
}

#trends-list:last-child {
  list-style-type: none; 
}

.shown {
  display: block;
}

.hidden {
  display: none;
}
