#map {
  height: 70vh;
  width: 70vw;
}

html, body { 
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#legend { 
  display: flex;
  display: -webkit-box;
  height: 45px;
  left: 110px;
  padding-top: 7px;
  padding-left: 7px;
  top: 10px;
  width: 360px;
}

.color-key {
  background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
  flex: 1;
  font: 1.0em/1.0em;
  margin: 0 5px;
  text-align: left;
  -webkit-box-flex: 1;
}